@model IEnumerable<Blog>
@using RockwellBlog.Services
@inject IBlogImageService _blogImageService
@{
    ViewData["Title"] = "Home Page";
}




<p>
    <a class="btn btn-primary text-decoration-none" asp-controller="Blogs" asp-action="Create">Create New Blog <i class="fas fa-palette"></i></a>
</p>

<div class="row">
    <div class="col-12 mx-auto">
        <div class="row">

        </div>
        <div class="row">
            <!--Model is the IEnumerable and blog is the instance of Model-->
            @foreach (var blog in Model)
            {
                <div class="post-preview col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-5">
                        <img class="post-img img-fluid" src="@_blogImageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="post image" />
                        <div class="card-body">
                            <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                                <h3 class="card-title">@blog.Name</h3>
                                <p class="post-subtitle card-text">@blog.Description</p>
                                <p class="post-meta card-text">Posted by Stephen Souvall on @blog.Created.ToString("MMM dd, yyyy")</p>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-primary text-center mt-5 d-flex align-items-center justify-content-center" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">View Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
            }
        </div>
        <!-- Pager-->
        <div class="mt-5 mr-5 clearfix float-right"><a class="btn btn-primary ml-3" href="#!">Older Posts →</a></div>
    </div>
</div>
