@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using RockwellBlog.Services
@inject IBlogImageService _fileService
@model IPagedList<Post>

@{
    ViewData["Title"] = "Landing Page";
}

<!-- Main Content-->
<div class="row">
    <div class="col-lg-12 col-md-10 mx-auto">
        <div class="row">
            <!--Model is the IEnumerable and blog is the instance of Model-->
            @foreach (var post in Model)
            {
                @*<div class="post-preview col-lg-4 col-md-6 col-sm-12">*@
                <div class="post-preview col-12">
                    @*<div class="card mb-5" style="width: 18rem;">*@
                    <div class="card mb-5">
                        <img class="post-img img-fluid" src="@_fileService.DecodeImage(post.ImageData, post.ContentType)" alt="post image" />
                        <div class="card-body">
                            <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                <h5 class="card-title">@post.Title</h5>
                                <p class="post-subtitle card-text">@post.Abstract</p>
                                <p class="post-meta card-text">Posted by Stephen Souvall on @post.Created.ToString("MMM dd, yyyy")</p>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-primary btn-block mt-5" asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">Read Post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = @Model.FirstOrDefault()?.BlogId, page = page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        }

      )
    </div>
</div>