@model RockwellBlog.Models.Post
@using RockwellBlog.Services
@using Microsoft.AspNetCore.Identity
@using RockwellBlog.Enums
@inject UserManager<BlogUser> userManager
@inject IBlogImageService _blogImageService

@{
    ViewData["Title"] = "Details";
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @*<h1>@Model.Title</h1>
                    <h3>@Model.Abstract</h3>
                    <p><em>@Model.Created</em></p>
                    <p><em>@Model.Updated</em></p>*@
                <p>  @Html.Raw(Model.Content)  </p>
            </div>
        </div>
    </div>
</article>

    @*prompt the anonymous user to login to add a comment*@
    @if (!User.Identity.IsAuthenticated)
    {

    <div class="col-lg-8 col-md-10 mx-auto">
        <hr />
        <a class="btn btn-dark btn-block btn-sm" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "Posts", new { id = Model.Id })">Login to add a comment</a>
        <hr />
    </div>

    }
    else
    {
        //if you are loggin in I will show you an add comment form

        <div class="col-lg-8 col-md-10 mx-auto">
            <form asp-action="Create" asp-controller="Comments" method="post">
                @*----which post did it come from...?-----*@
                <input type="hidden" name="PostId" value="@Model.Id" />
                @*----------*@
                <h5 class="text-center">ADD A COMMENT</h5>
                <textarea class="form-control mb-3" name="Body" rows="10"></textarea>
                <button type="submit" class="btn btn-dark btn-block btn-sm">Submit!</button>
            </form>
        </div>
    }

<div class="col-lg-8 col-md-10 mx-auto">

    <hr />
    @*show user comments*@
    <div class="btn-sm btn-dark btn-block w-100">@Model.Comments.Count Comment(s)</div>

    @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
    {
        <div class="row">
            <div class="media border mr-3 ml-3 p-3 w-100">
                <img src="@_blogImageService.DecodeImage(comment.Author.ImageData, comment.Author.ContentType)" alt="@comment.Author.FullName" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    @if (comment.Moderated is null)
                    {
                    <h4>@comment.Author.FullName <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small></h4>
                    <p>@comment.Body</p>
                    }
                else
                {
                    @Html.Raw(comment.ModeratedBody)
                        <p class="text-sm-center">@comment.Author.FirstName</p>
                        <p class="text-sm-center">This comment has been moderated because @comment.ModerationType</p>
                }
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || (comment.Moderated is null && userManager.GetUserId(User) == comment.AuthorId))
                    {
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-@comment.Id">
                            Edit Comment
                        </button>

                        <div class="modal fade" id="edit-@comment.Id" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="Edit" asp-controller="Comments" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" value="@comment.Id" name="id" />
                                            <input type="hidden" asp-for="@comment.Id" />
                                            <input type="hidden" asp-for="@comment.PostId" />
                                            <input type="hidden" asp-for="@comment.AuthorId" />
                                            <input type="hidden" asp-for="@comment.Created" />
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                            {
                                                @Html.Raw(comment.Body)
                                                <input type="hidden" asp-for="@comment.Body" />
                                                <div class="form-group">
                                                    <label asp-for="@comment.ModerationType" class="control-label"></label>
                                                    <select asp-for="@comment.ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()" class="form-control"></select>
                                                    <span asp-validation-for="@comment.ModerationType" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="@comment.ModeratedBody" class="control-label"></label>
                                                    <input asp-for="@comment.ModeratedBody" class="form-control" />
                                                    <span asp-validation-for="@comment.ModeratedBody" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" asp-for="@comment.ModerationType" />
                                                <div class="form-group">
                                                    <label asp-for="@comment.Body" class="control-label"></label>
                                                    <input asp-for="@comment.Body" class="form-control" />
                                                    <span asp-validation-for="@comment.Body" class="text-danger"></span>
                                                </div>
                                            }

                                            <div class="form-group">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                </div>
            </div>
            }

            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
                <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@Model.BlogId">Back to List</a>
            </div>
            
        </div>



