@model RockwellBlog.Models.Blog
@using RockwellBlog.Services
@inject IBlogImageService _blogImageService
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <img id="profileImage" class="img-fluid" src="@_blogImageService.DecodeImage(Model.ImageData, Model.ContentType)" />
        </div>
        <div class="col-md-7">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Updated)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Updated)
                </dd>
            </dl>
        </div>
    </div>
    
</div>
<div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
